<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @agregado.descripcion %>
</p>

<%= link_to 'Edit', edit_agregado_path(@agregado) %> |
<%= link_to 'Back', agregados_path %>
